* text=auto

*.cpp text eol=lf
*.h text eol=lf
*.ui text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.ico binary
*.dll binary
*.exe binary
